:root {
  --primary-color: #3ca9d7;
  --second-color: #4181e9;
  --gradient: linear-gradient(
    108.1deg,
    rgb(167, 220, 225) 11.2%,
    rgb(217, 239, 242) 88.9%
  );
}

h1 {
  color: var(--secondy-color);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
small {
  text-align: center;
}
.cityName {
  color: var(--second-color);
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  background: linear-gradient(
    90.7deg,
    rgb(255, 253, 218) 1.9%,
    rgb(246, 210, 255) 39.3%,
    rgb(152, 222, 254) 64.7%,
    rgb(251, 255, 210) 100.8%
  );
  padding: 20px;
  border-radius: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
